body{
	background-image: url("../img/cancion1.PNG");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

}

h1{
	color: #a70a81;
	text-align: center;
	font-family: 'Bad Script', cursive;
}

h2{
	text-align: center;
	font-family: 'Bad Script', cursive;
	margin: -20px;
}

p{
	z-index: 1;
	position: absolute;
	margin-left: 500px;
	line-height: 200%;
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
}

#inicio{
margin-top: 420px;
margin-left: 585px;
font-size: 40px;
}
a{ 
text-decoration:none; 
font-family: 'Bad Script', cursive;
color: black;
} 