body{
	background-image: url("../img/cancion4.PNG");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color: #eed30f;
	font-family: 'Bad Script', cursive;
	margin-left: 80px;
}

h2{
	font-family: 'Bad Script', cursive;
	margin-top: -30px;
	margin-left: 90px;
}
#letra{
	position: fixed;
	color: white;
	margin-left: 70px;
	overflow: auto;
	height: 500px;
	width: 400px; 
	font-family: 'PT Sans Narrow', sans-serif;
}

#inicio{
	margin-left: 1000px;
	font-size: 50px;
	margin-top: 450px;
	position: absolute;
}

a{ 
text-decoration:none; 
font-family: 'Bad Script', cursive;
color: black;
} 