body{
	background-image: url("../img/cancion5.PNG");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color: #ff0000;
	font-family: 'Bad Script', cursive;
	margin-left: 800px;
}

h2{
	font-family: 'Bad Script', cursive;
	margin-top: -30px;
	margin-left: 900px;
}

.letra{
	height: 450px;
	width: 370px;
	margin-left: 800px;
	overflow: auto;
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
}


#inicio{
	margin-left: 200px;
	margin-top: -100px;
	text-align: left;
	font-size: 50px; 
}

a{ 
text-decoration:none; 
font-family: 'Bad Script', cursive;
color: #ff0000;
} 