body {
	background-image: url("../img/cancion3.PNG");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	margin-left: 800px;
	color: #00d3e2;
	font-family: 'Bad Script', cursive;
}

h2{
	margin-left: 900px;
	font-family: 'Bad Script', cursive;}

p{
	color: #004145;
	font-family: 'PT Sans Narrow', sans-serif;
}

#letra{
	height: 450px;
	width: 370px;
	margin-left: 800px;
overflow: auto;
}

#inicio{
	margin-left: 200px;
	margin-top: -100px;
	text-align: left;
	font-size: 50px; 
	font-family: 'Bad Script', cursive;

}

a{ 
text-decoration:none; 
color: black;
} 