body{
	background-image: url("../img/cancion9.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

}

h1{
	color: #a70a81;
	text-align: center;
	font-family: 'Bad Script', cursive;
}

h2{
	text-align: center;
	font-family: 'Bad Script', cursive;
	margin: -20px;
}

.letra{
	margin-left: 450px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	margin-top: 20px;
	height: 400px;
	width: 400px;
	overflow: auto;
}

#inicio{
	margin-top: -30px;
	margin-left: 585px;
	font-size: 40px;
}

a{ 
text-decoration:none; 
font-family: 'Bad Script', cursive;
color: black;
} 