body {
	background-image: url("../img/cancion2.PNG");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	margin-left: 50px;
	color: #b4030e;
	font-family: 'Bad Script', cursive;
}

h2{
	margin-left: 50px;
	margin-top: -30px;
	font-family: 'Bad Script', cursive;
}

#letra{
	margin-left: 30px;
	height: 500px;
	width: 400px;
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	overflow: auto;
}

#inicio{
font-size: 30px;
margin-top: -90px;
margin-left: 800px;
font-family: 'Bad Script', cursive;
position: absolute;
}

a{ 
text-decoration:none; 
font-family: 'Bad Script', cursive;
color: black;
} 