body{
	background-image: url("../img/cancion7.PNG");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

}

h1{
	color: #001c6a;
	font-family: 'Bad Script', cursive;
	margin-left: 900px;
}

h2{
	font-family: 'Bad Script', cursive;
	margin-top: -30px;
	margin-left: 1000px;
}

.letra{
	height: 450px;
	width: 370px;
	margin-left: 900px;
	margin-top: 50px;
	overflow: auto;
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
}

#inicio{
	margin-left: 50px;
	margin-top: -100px;
	text-align: left;
	font-size: 50px; 
}

a{ 
text-decoration:none; 
font-family: 'Bad Script', cursive;
color: #001c6a;
} 