body{
	background-image: url("disco.JPG");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
a{ 
text-decoration:none; 
color: white;
} 

h1{

	font-family: 'Bad Script', cursive;
	margin-left: 20px;
	color: #EE0CB1;
	z-index:1; 
}
h2{
	font-family: 'Bad Script', cursive;
	margin-left: 40px;
	color: white;
}
ol{
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 200%;
	margin-left: 50px;
	color: white;
}
